---
name: Unit tests
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: 1.24.5
      - name: tests
        run: |-
          go test ./... -v
